schema1.rnc

start = album
album = element album {ref, song+}
ref = attribute ref {text}
song = element song {title, feature, production, stanza+}
title = attribute title {text}
production = attribute production {text}
feature = attribute feature {text}
stanza = element stanza {type, artist?, li+}
type = attribute type {text}
artist = attribute artist {text}
li = element li {text}
