xml/schema1.rnc

start = album
album = element album { type, meta, song+ }
meta = element meta { albumTitle, source, year, accessDate }
albumTitle = element albumTitle { "1999" | "B4.DA.$$" | "SummerKnights" | "Rejex" }
source = element source { text }
year = element year { text }
accessDate = element accessDate { text }
song = element song { title, audlink, production, stanza+ }
title = element title { text }
audlink = element audlink { text }
feature = attribute feature { text }
production = attribute production { text }
stanza = element stanza { type, speaker, li+ }
speaker =
    attribute speaker {
        "2pac"
        | "ALa$ole"
        | "ActionBronson"
        | "CJFly"
        | "CapitalSTEEZ"
        | "Chronixx"
        | "ChuckStrangers"
        | "CollieBuddz"
        | "DessyHinds"
        | "DirtySanchez"
        | "DyemondLewis"
        | "ElleVarner"
        | "JoeyBada$$ BJtheChicagoKid"
        | "JoeyBada$$ CJFly"
        | "JoeyBada$$ KirkKnight"
        | "JoeyBada$$ QueenLatifah"
        | "JoeyBada$$"
        | "Kieza"
        | "KirkKnight"
        | "MaverickSabre"
        | "NYCkCaution"
        | "Nas Youngster"
        | "NyckCaution"
        | "Pinky JoeyBada$$"
        | "ProEra"
        | "Raury"
        | "Rokamouth"
        | "Sample"
        | "SaulWilliams"
        | "SmokeDZA"
        | "T'nahApex"
        | "Unknown"
        | "Unknown CapitalSTEEZ"
    }
type =
    attribute type {
        "album"
        | "mixtape"
        | "verse"
        | "intro"
        | "bridge"
        | "hook"
        | "skit"
        | "interlude"
        | "outro"
        | "sample"
        | "deletion"
        | "contraction"
        | "tense"
        | "aspect"
        | "dropping"
        | "exo"
        | "endo"
        | "negative"
    }
li =
    element li {
        mixed { markup* }
    }
markup =
    oldschool
    | success
    | women
    | fashion
    | struggle
    | food
    | money
    | alcohol
    | hiphop
    | haters
    | guns
    | popculture
    | weed
    | sports
    | geo
    | criticism
    | violence
    | drugs
    | power
    | sex
    | religion
    | history
    | group
    | AAVE
    | compound
oldschool =
    element oldschool {
        mixed { markup* }}
drugs =
    element drugs {
        mixed { markup* }}
history =
    element history {
        mixed { markup* }}
sex =
    element sex {
        mixed { markup* }}
violence =
    element violence {
        mixed { markup* }}
power =
    element power {
        mixed { markup* }}
religion =
    element religion {
        mixed { markup* }        
    }
success =
    element success {
        mixed { qual, markup* }
    }
women =
    element women {
        mixed { qual, markup* }
    }
fashion =
    element fashion {
        mixed { markup* }
    }
struggle =
    element struggle {
        mixed { markup* }
    }
food =
    element food {
        mixed { markup* }
    }
alcohol =
    element alcohol {
        mixed { markup* }
    }
money =
    element money {
        mixed { qual, markup* }}
criticism =
    element criticism {
        mixed { markup* }        
    }
haters =
    element haters {
        mixed { markup* }
    }
guns =
    element guns {
        mixed { markup* }
    }
weed =
    element weed {
        mixed { markup* }
    }
sports =
    element sports {
        mixed { markup* }
    }
hiphop =
    element hiphop {
        mixed { ref, markup* }
    }
qual = attribute qual {"pursuit" | "possession" |"pos" |"neg"}
ref =
    attribute ref {
        list {
            ("Jay-Z"
             | "LilWayne"
             | "LordFinnesse"
             | "MichaelJackson"
             | "BonnieandClyde"
             | "LupeFiasco"
             | "Tupac"
             | "Diddy"
             | "NotoriousBIG"
             | "50Cent"
             | "Jay-Z KanyeWest"
             | "KanyeWest"
             | "NickiMinaj"
             | "JDilla"
             | "DragonBallZ"
             | "Batman"
             | "MurderSheWrote"
             | "DonCheadle"
             | "MaxKeeble"
             | "MojoJojo"
             | "Brooklyn"
             | "NewYork"
             | "NewMexico"
             | "Spain"
             | "EastCoast"
             | "Boston"
             | "Instagram"
             | "Facebook"
             | "Twitter"
             | "Pokemon"
             | "ShamWoW"
             | "NikeSB"
             | "Nike"
             | "PinkyandtheBrain"
             | "Egypt"
             | "KwonSwank"
             | "EvelKnievel"
             | "Coachella"
             | "Interscope"
             | "HilarySwank"
             | "Budweiser"
             | "Newports"
             | "Audi"
             | "Cadillac"
             | "RangeRover"
             | "DodgeViper"
             | "TheMatrix"
             | "HarryPotter"
             | "DaVinci"
             | "Cupid"
             | "Lexus"
             | "SaksFifthAve"
             | "Superman"
             | "TMNT"
             | "X-Men"
             | "FantasticFour"
             | "Oprah"
             | "Scarface"
             | "Porsche"
             | "JimmyFallon"
             | "ProEra"
             | "Eminem"
             | "SnoopDogg"
             | "ShadyRecords"
             | "BustaRhymes"
             | "JCole"
             | "GrandmasterFlash"
             | "NewYorkPost"
             | "DirtySanchez"
             | "CuttyRanks"
             | "tradingCards"
             | "TheGodfather"
             | "BigDaddyKane"
             | "MobbDeep"
             | "TnahApex"
             | "Smithsonian"
             | "DymeLewis"
             | "MaxB"
             | "LangstonHughes"
             | "LilCease"
             | "ToyStory"
             | "FunkFlex"
             | "Akon"
             | "ChiefKeef"
             | "JoeyBada$$"
             | "SmokeDZA"
             | "BrandNubians"
             | "StatikSelektah"
             | "CapitalSteez"
             | "RickRoss"
             | "ATCQ"
             | "Flatbush"
             | "Iceland"
             | "LittleItaly"
             | "Sicily"
             | "Baghdad"
             | "Bedford-Stuyvesant"
             | "Melbourne"
             | "LasVegas"
             | "Houston"
             | "LosAngeles"
             | "Detroit"
             | "JohnLegend"
             | "RayCharles"
             | "ChanelIman"
             | "GeorgePataki"
             | "Sonic"
             | "HookedonPhonics"
             | "MortalKombat"
             | "DJKhaled"
             | "SantaClaus"
             | "MarvinGaye"
             | "Prince"
             | "AlGreen"
             | "BettyWright"
             | "Kawasaki"
             | "StarWars"
             | "Fugees"
             | "FrankSinatra"
             | "SpraggaBenz"
             | "DaveyJones"
             | "PatrickSwayze"
             | "RipStik"
             | "ChakaKhan"
             | "BenStiller"
             | "iPhone"
             | "Olympics"
             | "ComplexMagazine"
             | "TheSourceMagazine"
             | "BobMarley"
             | "Madlib"
             | "ChuckStrangers"
             | "MFDOOM"
             | "Sunoco"
             | "KimoraSimmons"
             | "DoratheExplorer"
             | "PublicEnemy"
             | "BacktotheFuture"
             | "KingArthur"
             | "LilBDaBasedGod"
             | "ComicCon"
             | "Obama"
             | "VladimirPutin"
             | "Columbine"
             | "PlaxicoBurress"
             | "Cam'ron"
             | "JeanClaudeVanDamme"
             | "Nas"
             | "LincolnTerraces"
             | "Compton"
             | "Yonkers"
             | "KirkKnight"
             | "CJFly"
             | "JayLee"
             | "PowP"
             | "DyemLewis"
             | "NyckCaution"
             | "ALa$ole"
             | "JesusChrist"
             | "Himalayas"
             | "IsaiahThomas"
             | "NoahsArk"
             | "ColorMeBadd"
             | "Austin"
             | "KamaSutra"
             | "Monopoly"
             | "McDonalds"
             | "Hansen"
             | "CharlesManson"
             | "Louisiana"
             | "JamesBond"
             | "JimmyNeutron"
             | "WuTangClan"
             | "ElijahMuhammad"
             | "MarcusGarvey"
             | "Maybach"
             | "BabyCham"
             | "Darwin"
             | "Chicago"
             | "JackSparrow"
             | "Drake"
             | "SerenaWilliams"
             | "WyclefJean"
             | "GoodFellas"
             | "SchoolboyQ"
             | "Figueroa"
             | "LemonySnicket"
             | "PeterRosenberg"
             | "Power105"
             | "Shay"
             | "Bahamas"
             | "Pinocchio"
             | "XXLMagazine"
             | "WordUpMagazine"
             | "TheBeast"
             | "MercedesBenz"
             | "Zeus"
             | "Snapple"
             | "NWA"
             | "Noreaga"
             | "Invincible"
             | "Rembrandt"
             | "RosaParks"
             | "UndergroundRailroad"
             | "Crips"
             | "Bloods"
             | "MannyPacquiao"
             | "Chronixx"
             | "KingSelassie"
             | "JosephKony"
             | "BlueIvy"
             | "NorthWest"
             | "KimKardashian"
             | "CypressHill"
             | "IkeTurner"
             | "SojournerTruth"
             | "TopDawgEntertainment"
             | "Three6Mafia"
             | "Candyman"
             | "ToroidalFlow"
             | "LaurynHill"
             | "MartinLutherKingJr"
             | "PrinceofBelAir"
             | "BigL"
             | "BigPun"
             | "OsamaBinLaden"
             | "Seattle"
             | "TigerBeatMagazine"
             | "BeastieBoys"
             | "Playboy"
             | "NASA"
             | "ThePalms"
             | "OlDirtyBastard"
             | "IrvGotti"
             | "WizardofOz"
             | "MarleyandMe"
             | "112"
             | "DengfengChina"
             | "RKelly"
             | "HellsKitchen"
             | "Jeep"
             | "AbSoul"
             | "Alcatraz"
             | "Nefertiti"
             | "Poconos"
             | "PabloEscobar"
             | "Apollo"
             | "106andPark"
             | "LeadersoftheNewSchool"
             | "Whodini"
             | "Rambo"
             | "LebronJames"
             | "Shyne"
             | "BadBoyRecords"
             | "Babylon"
             | "Smoker'sClub"
             | "MichaelJordan"
             | "ActionBronson"
             | "DessyHinds")+
        }
    }
popculture =
    element popculture {
        mixed { ref, markup* }
    }
geo =
    element geo {
        mixed { ref, markup* }
    }
group =
    element group {
        mixed {
            label,
            num,
            (alliteration
             | assonance
             | assimilation
             | consonance
             | repetition
             | rhyme
             | slantRhyme)*,
            markup*
        }
    }
label = attribute label { text }
num = attribute num { xsd:int }
alliteration =
    attribute alliteration {
        list { xsd:int+ }
    }
assonance =
    attribute assonance {
        list { xsd:int+ }
    }
assimilation =
    attribute assimilation {
        list { xsd:int+ }
    }
consonance =
    attribute consonance {
        list { xsd:int+ }
    }
repetition =
    attribute repetition {
        list { xsd:int+ }
    }
rhyme =
    attribute rhyme {
        list { xsd:int+ }
    }
slantRhyme =
    attribute slantRhyme {
        list { xsd:int+ }
    }
AAVE =
    element AAVE {
        mixed {
            field,
            type,
            (sound | position | word1 | word2 | word3 | person | class | tense)*,
            markup*
        }
    }
compound =
    element compound {
        mixed { head, stem, type, markup* }
    }
field = attribute field { "syn" | "phon" }
tense = attribute tense { "progressive" | "present" | "habitual" | "past" | "future" }
sound = attribute sound { text }
position = attribute position { "initial" | "middle" | "final" | "middle final" | "initial middle" | "initial final"}
word1 = attribute word1 { text }
word2 = attribute word2 { text }
word3 = attribute word3 { text }
person = attribute person { text }
class = attribute class { "copula" | "preposition" | "auxiliary" | "to" | "object" }
head = attribute head { text }
stem = attribute stem { text }
# If you want to make a group variable for something you just use label=(blah|blah1|blah2|etc.) 
# and then you can use it instead of repeating yourself 
# example: datePattern = (day|month|year)
# date = element date {(when |(from, to)), empty} 
# when = attribute when {datePattern}
# from = attribute from {datePattern}
# to = attribute to {datePattern}

#
